.via-slds a {
  color: #ea650d;
}

.via-slds a:focus,
.via-slds a:hover {
  color: #ea650d;
}

.via-slds hr {
  margin: 0rem 0;
}

.via-slds .slds-button {
  color: #ea650d;
}

.via-slds .slds-button:focus {
  box-shadow: 0 0 3px #ea650d;
}

.via-slds a.slds-button:focus {
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-button--hint:active,
.via-slds .slds-button--hint:focus,
.via-slds .slds-button--hint:hover {
  color: #ea650d;
}

.via-slds .slds-hint-parent:focus .slds-button--hint,
.via-slds .slds-hint-parent:hover .slds-button--hint {
  color: #ea650d;
}

.via-slds .slds-button--brand {
  background-color: #ea650d;
  border: 1px solid #ea650d;
}

.via-slds .slds-button--inverse:active,
.via-slds .slds-button--inverse:focus,
.via-slds .slds-button--inverse:hover,
.via-slds .slds-button-group .slds-button--icon-inverse:active,
.via-slds .slds-button-group .slds-button--icon-inverse:focus,
.via-slds .slds-button-group .slds-button--icon-inverse:hover {
  color: #ea650d;
}

.via-slds .slds-button--icon-more:focus .slds-button__icon,
.via-slds .slds-button--icon-more:hover .slds-button__icon {
  fill: #ea650d;
}

.via-slds .slds-button--icon-border.slds-is-selected {
  background-color: #ea650d;
  border: 1px solid #ea650d;
}

.via-slds .slds-input:active,
.via-slds .slds-input:focus {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-textarea:active,
.via-slds .slds-textarea:focus {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}
.via-slds .slds-has-error .slds-textarea:active,
.via-slds .slds-has-error .slds-textarea:focus {
  box-shadow: #c23934 0 0 0 1px inset, 0 0 3px #ea650d;
}

.via-slds .slds-radio [type="radio"]:checked + .slds-radio--faux:after,
.via-slds
  .slds-radio
  [type="radio"]:checked
  + .slds-radio__label
  .slds-radio--faux:after,
.via-slds .slds-radio [type="radio"]:checked ~ .slds-radio--faux:after {
  background: #ea650d;
}

.via-slds .slds-radio [type="radio"]:focus + .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:focus
  + .slds-radio__label
  .slds-radio--faux,
.via-slds .slds-radio [type="radio"]:focus ~ .slds-radio--faux {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds
  .slds-radio--button
  [type="radio"]:checked
  + .slds-radio--button__label,
.via-slds .slds-radio--button [type="radio"]:checked + .slds-radio--faux,
.via-slds .slds-radio--button [type="radio"]:checked ~ .slds-radio--faux {
  background-color: #ea650d;
}

.via-slds
  .slds-radio--button
  [type="radio"]:checked
  + .slds-radio--button__label:focus,
.via-slds
  .slds-radio--button
  [type="radio"]:checked
  + .slds-radio--button__label:hover,
.via-slds .slds-radio--button [type="radio"]:checked + .slds-radio--faux:focus,
.via-slds .slds-radio--button [type="radio"]:checked + .slds-radio--faux:hover,
.via-slds .slds-radio--button [type="radio"]:checked ~ .slds-radio--faux:focus,
.via-slds .slds-radio--button [type="radio"]:checked ~ .slds-radio--faux:hover {
  background-color: #ea650d;
}

.via-slds .slds-radio--button [type="radio"]:focus + .slds-radio--button__label,
.via-slds .slds-radio--button [type="radio"]:focus + .slds-radio--faux,
.via-slds .slds-radio--button [type="radio"]:focus ~ .slds-radio--faux {
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-checkbox [type="checkbox"]:checked + .slds-checkbox--faux:after,
.via-slds
  .slds-checkbox
  [type="checkbox"]:checked
  + .slds-checkbox__label
  .slds-checkbox--faux:after,
.via-slds
  .slds-checkbox
  [type="checkbox"]:checked
  ~ .slds-checkbox--faux:after {
  border-bottom: 2px solid #ea650d;
  border-left: 2px solid #ea650d;
}

.via-slds .slds-checkbox [type="checkbox"]:focus + .slds-checkbox--faux,
.via-slds
  .slds-checkbox
  [type="checkbox"]:focus
  + .slds-checkbox__label
  .slds-checkbox--faux,
.via-slds .slds-checkbox [type="checkbox"]:focus ~ .slds-checkbox--faux {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds
  .slds-checkbox
  [type="checkbox"]:focus:checked
  + .slds-checkbox__label
  .slds-checkbox--faux,
.via-slds .slds-checkbox [type="checkbox"]:focus:checked > .slds-checkbox--faux,
.via-slds
  .slds-checkbox
  [type="checkbox"]:focus:checked
  ~ .slds-checkbox--faux {
  border-color: #ea650d;
}

.via-slds
  .slds-checkbox
  [type="checkbox"]:indeterminate
  + .slds-checkbox--faux:after,
.via-slds
  .slds-checkbox
  [type="checkbox"]:indeterminate
  + .slds-checkbox__label
  .slds-checkbox--faux:after,
.via-slds
  .slds-checkbox
  [type="checkbox"]:indeterminate
  ~ .slds-checkbox--faux:after {
  background: #ea650d;
}

.via-slds .slds-checkbox--toggle [type="checkbox"]:focus + .slds-checkbox--faux,
.via-slds
  .slds-checkbox--toggle
  [type="checkbox"]:focus
  + .slds-checkbox--faux_container
  .slds-checkbox--faux,
.via-slds
  .slds-checkbox--toggle
  [type="checkbox"]:focus
  ~ .slds-checkbox--faux {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds
  .slds-checkbox--toggle
  [type="checkbox"]:checked
  + .slds-checkbox--faux,
.via-slds
  .slds-checkbox--toggle
  [type="checkbox"]:checked
  + .slds-checkbox--faux_container
  .slds-checkbox--faux,
.via-slds
  .slds-checkbox--toggle
  [type="checkbox"]:checked
  ~ .slds-checkbox--faux {
  border-color: #ea650d;
  background-color: #ea650d;
}

.via-slds .slds-select:active,
.via-slds .slds-select:focus {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-select_container .slds-select {
  padding-left: 10px;
  padding-right: 50px;
  white-space: normal !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.via-slds .slds-has-error .slds-select:active,
.via-slds .slds-has-error .slds-select:focus {
  box-shadow: #c23934 0 0 0 1px inset, 0 0 3px #ea650d;
}

.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  + .slds-checkbox--button__label,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  + .slds-checkbox--faux,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  ~ .slds-checkbox--faux {
  background-color: #ea650d;
}

.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  + .slds-checkbox--button__label:focus,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  + .slds-checkbox--button__label:hover,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  + .slds-checkbox--faux:focus,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  + .slds-checkbox--faux:hover,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  ~ .slds-checkbox--faux:focus,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:checked
  ~ .slds-checkbox--faux:hover {
  background-color: #ea650d;
}

.via-slds
  .slds-checkbox--button
  [type="checkbox"]:focus
  + .slds-checkbox--button__label,
.via-slds .slds-checkbox--button [type="checkbox"]:focus + .slds-checkbox--faux,
.via-slds
  .slds-checkbox--button
  [type="checkbox"]:focus
  ~ .slds-checkbox--faux {
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-file-selector__dropzone.slds-has-drag-over {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds
  .slds-file-selector__input:focus
  ~ .slds-file-selector__body
  > .slds-file-selector__button {
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-file-selector__dropzone--integrated.slds-has-drag-over {
  box-shadow: 0 0 0 4px #ea650d inset;
}

.via-slds .slds-dropdown__item.slds-is-selected .slds-icon--selected {
  fill: #ea650d;
}

.via-slds .slds-dropdown--actions a {
  color: #ea650d;
}

.via-slds .slds-publisher--comment.slds-has-focus {
  border-color: #ea650d;
  box-shadow: 0 0 3px #ea650d;
}

.via-slds
  .slds-app-launcher__tile--small:focus
  .slds-app-launcher__tile-figure--small,
.via-slds
  .slds-app-launcher__tile--small:hover
  .slds-app-launcher__tile-figure--small {
  border-color: #ea650d;
}

.via-slds .slds-pill__label:focus {
  box-shadow: 0 0 3px #ea650d;
}

.via-slds .slds-tabs--path .slds-is-current + .slds-is-incomplete:before {
  background-color: #ea650d;
}

.via-slds .slds-spinner--brand .slds-spinner__dot-a:after,
.via-slds .slds-spinner--brand .slds-spinner__dot-a:before,
.via-slds .slds-spinner--brand .slds-spinner__dot-b:after,
.via-slds .slds-spinner--brand .slds-spinner__dot-b:before,
.via-slds .slds-spinner--brand.slds-spinner:after,
.via-slds .slds-spinner--brand.slds-spinner:before {
  background-color: #ea650d;
}

.via-slds .slds-tabs--default .slds-tabs__item > a:focus,
.via-slds .slds-tabs--default .slds-tabs__item > a:hover {
  border-color: #ea650d;
}

.via-slds .slds-tabs--default .slds-tabs__item.slds-active a {
  border-color: #ea650d;
}

.via-slds .slds-tabs--default .slds-tabs__item.slds-active a:focus {
  color: #ea650d;
}

.via-slds .slds-tabs--default__item.slds-active .slds-tabs--default__link {
  border-color: #ea650d;
}

.via-slds
  .slds-tabs--default__item.slds-active
  .slds-tabs--default__link:focus {
  color: #ea650d;
}

.via-slds .slds-tabs--default__link:focus,
.via-slds .slds-tabs--default__link:hover {
  color: #ea650d;
}

.via-slds .slds-tabs--default__link:focus {
  border-color: #ea650d;
}

.via-slds .slds-tabs--scoped .slds-tabs__item .slds-active > a {
  color: #ea650d;
}

.via-slds .slds-active .slds-tabs--scoped__link {
  color: #ea650d;
}

.via-slds .slds-navigation-list--vertical .slds-is-active {
  color: #ea650d;
}

.via-slds .slds-table {
  background-color: transparent;
}

.via-slds .slds-table:not(.slds-no-row-hover) tbody tr:hover > td,
.via-slds .slds-table:not(.slds-no-row-hover) tbody tr:hover > th {
  background-color: rgba(229, 222, 217, 1);
}

.via-slds .slds-table--bordered {
  border-top: 0 px solid #d8dde6;
}

.via-slds .slds-table--bordered tbody td,
.via-slds .slds-table--bordered tbody th {
  border-top: 1px solid #d8dde6;
}

.via-slds th.slds-is-sortable .slds-button__icon {
  fill: #ea650d;
}

.via-slds th.slds-is-sortable:hover {
  color: #ea650d;
}

.via-slds .slds-resizable__handle {
  background: #ea650d;
}

.via-slds .slds-resizable__divider {
  background: #ea650d;
}

.via-slds .slds-table--edit_container:focus:before {
  box-shadow: 0 0 0 4px #ea650d inset;
}

.via-slds .slds-table--edit .slds-button__icon--edit:focus {
  fill: #ea650d;
}

.via-slds .slds-cell-edit:focus .slds-button__icon--edit:focus,
.via-slds .slds-cell-edit:focus .slds-button__icon--edit:hover,
.via-slds .slds-cell-edit:hover .slds-button__icon--edit:focus,
.via-slds .slds-cell-edit:hover .slds-button__icon--edit:hover {
  fill: #ea650d;
}

.via-slds .slds-cell-edit.slds-has-focus {
  box-shadow: #ea650d 0 0 0 1px inset;
}

.via-slds .slds-cell-edit.slds-has-focus:hover {
  box-shadow: #ea650d 0 0 0 1px inset;
}

.via-slds .slds-tree .slds-is-selected {
  box-shadow: #ea650d 4px 0 0 inset;
}

.via-slds .slds-has-list-interactions > .slds-item.slds-is-selected,
.via-slds .slds-has-list-interactions > .slds-list__item.slds-is-selected {
  box-shadow: #ea650d 0 0 0 1px inset;
}

.via-slds .slds-has-list-interactions > .slds-item.slds-is-selected:focus,
.via-slds .slds-has-list-interactions > .slds-item.slds-is-selected:hover,
.via-slds .slds-has-list-interactions > .slds-list__item.slds-is-selected:focus,
.via-slds
  .slds-has-list-interactions
  > .slds-list__item.slds-is-selected:hover {
  box-shadow: #ea650d 0 -2px 0 inset, #ea650d 0 0 0 1px inset;
}

.via-slds
  .slds-list--vertical.slds-has-dividers
  > .slds-list__item.slds-is-selected {
  box-shadow: #ea650d 0 0 0 1px inset;
}

.via-slds
  .slds-list--vertical.slds-has-dividers
  > .slds-list__item.slds-is-selected:focus,
.via-slds
  .slds-list--vertical.slds-has-dividers
  > .slds-list__item.slds-is-selected:hover {
  box-shadow: #ea650d 0 -2px 0 inset, #ea650d 0 0 0 1px inset;
}

.via-slds .slds-section-title > a:focus {
  box-shadow: 0 0 3px #ea650d;
}

/*SFStyle-END*/

.via-slds {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.via-slds article,
.via-slds aside,
.via-slds details,
.via-slds figcaption,
.via-slds figure,
.via-slds footer,
.via-slds header,
.via-slds hgroup,
.via-slds main,
.via-slds menu,
.via-slds nav,
.via-slds section,
.via-slds summary {
  display: block;
}

.via-slds audio,
.via-slds canvas,
.via-slds progress,
.via-slds video {
  display: inline-block;
  vertical-align: baseline;
}

.via-slds audio:not([controls]) {
  display: none;
  height: 0;
}

.via-slds [hidden],
.via-slds template {
  display: none;
}

.via-slds a {
  background-color: transparent;
}
/*osstyleonly- start*/
.via-slds input.ng-pristine.ng-invalid:focus,
.via-slds input.ng-pristine.ng-valid:focus,
.via-slds textarea.ng-pristine.ng-invalid:focus,
.via-slds textarea.ng-pristine.ng-valid:focus {
  border: 1px solid rgba(229, 222, 217, 1) !important;
}

.via-slds ul.slds-list--vertical.vlc-slds-list--vertical span {
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
}
.via-slds div.vlc-slds-back-button {
  font-weight: normal;
  text-transform: uppercase;
}

.via-slds .vlc-slds-button--tertiary {
  font-weight: normal;
}
.via-slds .vlc-slds-remote-action--button .vlc-control-wrapper .slds-box {
  border: 0px solid transparent;
}
.via-slds form[stepform] {
  background: #f1edeb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.via-slds section.slds-page-header.vlc-slds-page--header {
  font-weight: normal;
}
.via-slds .vlc-slds-radio-control span.slds-form-element__label {
  font-weight: normal;
}
:root .via-slds .slds-radio [type="radio"]:checked + .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:checked
  + .slds-radio__label
  .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:checked
  ~ .slds-radio--faux
  :checked:before {
  -webkit-appearance: none;
  background: white !important;
}

:root .info,
:root .warning,
:root .autocorrect,
:root .questionary {
  color: #414141 !important;
  padding-bottom: 5px;
}

.via-slds .slds-table th {
  font-size: 12px;
  text-align: center;
}

:root .via-slds input[type="email"].ng-dirty.ng-valid,
:root .via-slds input[type="password"].ng-dirty.ng-valid,
:root .via-slds input[type="tel"].ng-dirty.ng-valid,
:root .via-slds input[type="text"].ng-dirty.ng-valid,
:root .via-slds input[type="url"].ng-dirty.ng-valid,
:root .via-slds textarea.ng-dirty.ng-valid,
:root slds-form-element__control {
  border: 1px solid;
  border-color: #e5ded9 !important;
}
/* odstranění box shadow po focusu na select */
:root .via-slds .slds-select:active,
:root .via-slds .slds-select:focus {
  -webkit-box-shadow: 0 0 0 0 #000000;
  box-shadow: 0 0 0 0 #000000;
}
:root .via-slds .slds-input,
:root .via-slds .slds-form-element__label,
:root .via-slds .slds-select:active,
:root .via-slds .slds-select:focus,
:root .via-slds .vlc-slds-wizard,
:root .via-slds,
:root .via-slds label,
:root .via-slds label span,
:root select {
  border-color: rgba(229, 222, 217, 1) !important;
}
:root div {
  border-color: rgba(229, 222, 217, 1) !important;
}
.via-slds
  .vlc-slds-multiSelect-control
  ul[horizontalmode]
  span.slds-form-element__label {
  font-weight: normal;
}
.via-slds .list-group.vertical-steps .list-group-item {
  text-transform: none;
  font-weight: 300;
}
.via-slds .list-group.vertical-steps .list-group-item:before {
  background-color: white;
  transform: translateX(-55%);
  border: 2px solid #ea650d;
  cursor: pointer;
}
.via-slds .list-group.vertical-steps .list-group-item span {
  cursor: pointer;
}
:root .via-slds .list-group.vertical-steps .list-group-item.active:before {
  background-color: #ea650d !important;
}
:root .via-slds .list-group.vertical-steps .list-group-item.completed:before {
  background: #ea650d !important;
}
.via-slds .vlc-slds-selItem label.vlc-slds-selItem__label {
  font-weight: normal;
}
.via-slds label[vlc-slds-toggle] .slds-form-element__label--toggleText {
  font-weight: normal;
}

.via-slds label[vlc-slds-toggle="toggle"] {
  cursor: pointer;
}

.via-slds
  .vlc-slds-block
  label[vlc-slds-toggle="toggle"]
  ~ div[vlc-slds-toggle-elem="visible"] {
  font-weight: normal;
}
.via-slds ul.vlc-slds-knowledge-item .vlc-slds-knowledge-list-item > h3 {
  font-weight: normal;
}
.via-slds .slds-form-element__label {
  font-weight: normal;
}
.via-slds .slds-form-element__control > div.vlc-control-wrapper {
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.via-slds .slds-form-element__control > div.vlc-control-wrapper > input,
.via-slds .slds-form-element__control > div.vlc-control-wrapper > textarea {
  background: white;
}
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  > input[disabled],
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  > textarea[disabled] {
  background: rgba(229, 222, 217, 1);
}
.via-slds .slds-form-element__control > div.vlc-control-wrapper > label {
  left: 11px;
  font-size: 14px;
  text-transform: none;
  overflow-y: hidden;
}
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  textarea.ng-dirty
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  textarea:focus
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  textarea[cloned="dirty"]
  + label {
  -webkit-transform: translate3d(0, -1.2rem, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, -1.2rem, 0) scale3d(0.8, 0.8, 1);
}
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-dirty
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-dirty
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-touched.td-input
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.slds-input.ng-dirty.ng-touched[vlc-slds-lookup-control]
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.slds-input[cloned="dirty"]
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input:focus
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input[cloned="dirty"]
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input[type="text"]:focus
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-dirty
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-dirty
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-touched.td-input
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.slds-input.ng-dirty.ng-touched[vlc-slds-lookup-control]
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.slds-input[cloned="dirty"]
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input:focus
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input[cloned="dirty"]
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input[type="text"]:focus
  ~ label {
  -webkit-transform: translate3d(0, -1.2rem, 0) scale3d(0.8, 0.8, 1) !important;
  transform: translate3d(0, -1.2rem, 0) scale3d(0.8, 0.8, 1) !important;
}
.via-slds .slds-form-element__control p[vlc-bind-html] {
  color: rgba(65, 65, 65, 1);
  word-break: normal;
}
.via-slds .vlc-slds-text-block p[ng-bind-html] {
  font-weight: normal;
}
.via-slds {
  font-weight: normal;
}
:root .via-slds input.ng-invalid {
  border: 1px solid #ea650d !important;
}

.via-slds span.vlc-asterix.icon-v-asterix:before {
  color: rgba(230, 68, 21, 1);
}
.via-slds .vlc-disclosure.ng-valid span.vlc-asterix.icon-v-asterix:before,
.via-slds
  .vlc-slds-checkbox.ng-valid.ng-dirty
  span.vlc-asterix.icon-v-asterix:before,
.via-slds
  .vlc-slds-multiSelect-control.ng-valid
  span.vlc-asterix.icon-v-asterix:before,
.via-slds
  input.slds-input.ng-valid
  ~ label
  > span.vlc-asterix.icon-v-asterix:before,
.via-slds select.ng-valid + label > span.vlc-asterix.icon-v-asterix:before,
.via-slds textarea.ng-valid + label > span.vlc-asterix.icon-v-asterix:before {
  color: #5b9853;
}
.via-slds .vlc-slds-currency-symbol {
  top: 60%;
  color: rgba(65, 65, 65, 1);
}

.via-slds section.slds-page-header.vlc-slds-page--header:after {
  display: none;
}
.via-slds .vlc-slds-wizard:before {
  display: none;
}
/*-DIFFEND*/
.via-slds .slds-button__icon {
  width: 1.875rem;
}

#RecalculateRemote3,
#Recalculate {
  padding: 23px 10px !important;
}

.via-slds
  .vlc-slds-remote-action--button
  .vlc-control-wrapper
  .slds-box.vlc-slds-box--neutral {
  border: 1px solid #ea650d !important;
}

:root
  .via-slds
  .vlc-slds-remote-action--button
  .vlc-control-wrapper
  .slds-box.vlc-slds-box--neutral
  p {
  color: #ea650d !important;
}

.via-slds form[stepform] {
  border-right: 0 !important;
}

.via-slds .slds-popover--tooltip .slds-popover__body {
  color: white !important;
  font-size: 0.65rem;
}

.via-slds .slds-textarea {
  min-height: 9rem !important;
}

.via-slds .slds-popover--tooltip {
  max-width: 37rem !important;
}

#PremiumInfo label,
#PremiumInfo2 label {
  display: none;
}

#Messages,
#RidersMessages {
  position: relative;
  left: -25px;
  padding-left: 25px;
  width: calc(100% + 50px);
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}

.via-slds .vlc-slds-right--panel:after {
  display: none;
}

.recalculatBtn {
  border: 0;
  background-color: transparent;
  color: #ea650d !important;
  font-weight: 700 !important;
}

.recalculatBtn img {
  padding-left: 15px;
}

.via-slds .slds-page-header__title {
  font-size: 35px;
  color: #ea650d !important;
}

#OccupationAndSportLookupHint {
  margin-top: 20px;
}

.summaryComponent h2 {
  font-size: 16px;
  font-weight: 700;
}

.summaryLabel {
  font-size: 11px;
  min-height: 40px;
  display: flex;
  margin-bottom: 5px;
}

.summaryLabel p {
  width: 100%;
  align-self: flex-end;
}

.summaryValue {
  font-size: 12px !important;
  min-height: 49px;
}

.summaryValue p {
  padding-top: 12px;
}

.medical-loading {
  font-size: 11px;
}

.final-price {
  font-weight: bold;
  font-size: 15px;
}

.previous-price {
  text-decoration: line-through;
}

.sum-assured {
  font-weight: bold;
}

.summaryComponent h2 {
  margin-top: 15px;
}

.via-slds .slds-spinner--brand .slds-spinner__dot-a:after,
.via-slds .slds-spinner--brand .slds-spinner__dot-a:before,
.via-slds .slds-spinner--brand .slds-spinner__dot-b:after,
.via-slds .slds-spinner--brand .slds-spinner__dot-b:before,
.via-slds .slds-spinner--brand.slds-spinner:after,
.via-slds .slds-spinner--brand.slds-spinner:before {
  background-color: #ea650d;
}
.via-slds .slds-input,
.via-slds .slds-form-element__label,
.via-slds .slds-select:active,
.via-slds .slds-select:focus,
.via-slds .vlc-slds-wizard,
.via-slds,
.via-slds label,
.via-slds label span,
select {
  color: #414141 !important;
  border-color: #ea650d !important;
}

div {
  border-color: #ea650d !important;
  color: #414141 !important;
}

li {
  border-color: #ea650d !important;
}

.vlc-slds-bpTree-step-chart__container {
  position: relative;
  top: 60px;
}

.via-slds .vlc-slds-cart .vlc-slds-cart-container.slds-size--1-of-1 {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 5;
  height: 0em;
  width: 40%;
  float: right;
  color: #ea650d;
}

.via-slds .slds-icon,
.via-slds .vlc-slds-wizard .vlc-slds--grippy > svg,
.via-slds .vlc-slds-wizard .vlc-slds--grippy > svg:first-child,
.via-slds .list-group.vertical-steps .list-group-item svg,
.vlc-slds p {
  fill: #fff !important;
  background: #ea650d;
}

.via-slds input[type="email"].ng-dirty.ng-valid,
.via-slds input[type="password"].ng-dirty.ng-valid,
.via-slds input[type="tel"].ng-dirty.ng-valid,
.via-slds input[type="text"].ng-dirty.ng-valid,
.via-slds input[type="url"].ng-dirty.ng-valid,
.via-slds textarea.ng-dirty.ng-valid,
slds-form-element__control {
  border: 1px solid;
  border-color: #ea650d !important;
}

.ng-invalid-required {
  color: #999999;
}

.via-slds .vlc-slds-remote-action--button .vlc-control-wrapper .slds-box {
  background-color: #ea650d;
}

.slds-box .vlc-slds-box--neutral,
strong,
select {
  color: #414141 !important;
}

.via-slds .slds-radio [type="radio"]:checked + .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:checked
  + .slds-radio__label
  .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:checked
  ~ .slds-radio--faux
  :checked:before {
  -webkit-appearance: none;
  background: #ea650d !important;
}

.via-slds .list-group.vertical-steps .list-group-item.active:before {
  background-color: #ea650d !important;
}
.via-slds .list-group.vertical-steps .list-group-item.completed:before {
  background: #ea650d !important;
}
.via-slds .list-group.vertical-steps .list-group-item.active:before {
  background-color: #ea650d !important;
}
.via-slds section.slds-page-header.vlc-slds-page--header::after {
  background: linear-gradient(
    141deg,
    rgb(238, 127, 0),
    rgb(219, 179, 31) 51%,
    rgb(227, 80, 80) 75%
  ) !important;
}
.via-slds .vlc-slds-wizard::before {
  background: linear-gradient(
    -141deg,
    rgb(238, 127, 0) 25%,
    rgb(219, 179, 31) 50%,
    rgb(227, 80, 80) 90%
  );
}
.via-slds .vlc-slds-right--panel::after {
  background: linear-gradient(
    141deg,
    #ff0000,
    #ff7f00 15%,
    #ffff00 30%,
    #00ff00 45%,
    #0000ff 60%,
    #4b0082 75%,
    #9400d3 90%
  );
}
.vlc-slds-cart-container-top-panel {
  margin-top: -12px;
}
.via-slds .slds-col--padded {
  padding-right: 0;
}
.via-slds .slds-truncate {
  white-space: normal !important;
}
.via-slds .slds-table th {
  white-space: normal !important;
}
#table1 {
  background: rgb(244, 246, 249);
}
.message.description {
  color: white !important;
}
.via-slds input.ng-pristine.ng-invalid:focus,
.via-slds input.ng-pristine.ng-valid:focus,
.via-slds textarea.ng-pristine.ng-invalid:focus,
.via-slds textarea.ng-pristine.ng-valid:focus {
  border: 1px solid rgba(229, 222, 217, 1) !important;
}
.via-slds ul.slds-list--vertical.vlc-slds-list--vertical span {
  font-weight: normal;
  font-size: 0.8rem;
  font-style: italic;
}
.via-slds div.vlc-slds-back-button {
  font-weight: normal;
  text-transform: uppercase;
}
.via-slds .vlc-slds-button--tertiary {
  font-weight: normal;
}
.via-slds .vlc-slds-remote-action--button .vlc-control-wrapper .slds-box {
  border: 0px solid transparent;
}
.via-slds form[stepform] {
  background: #f1edeb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.via-slds section.slds-page-header.vlc-slds-page--header {
  font-weight: normal;
}
.via-slds .vlc-slds-radio-control span.slds-form-element__label {
  font-weight: normal;
}
:root .via-slds .slds-radio [type="radio"]:checked + .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:checked
  + .slds-radio__label
  .slds-radio--faux,
.via-slds
  .slds-radio
  [type="radio"]:checked
  ~ .slds-radio--faux
  :checked:before {
  -webkit-appearance: none;
  background: white !important;
}
.div2 h2 {
  font-size: 20px;
}
:root .info {
  color: #5b9853;
}
:root .via-slds input[type="email"].ng-dirty.ng-valid,
:root .via-slds input[type="password"].ng-dirty.ng-valid,
:root .via-slds input[type="tel"].ng-dirty.ng-valid,
:root .via-slds input[type="text"].ng-dirty.ng-valid,
:root .via-slds input[type="url"].ng-dirty.ng-valid,
:root .via-slds textarea.ng-dirty.ng-valid,
:root slds-form-element__control {
  border: 1px solid;
  border-color: #e5ded9 !important;
}
/* odstranění box shadow po focusu na select */
:root .via-slds .slds-select:active,
:root .via-slds .slds-select:focus {
  -webkit-box-shadow: 0 0 0 0 #000000;
  box-shadow: 0 0 0 0 #000000;
}
:root .via-slds .slds-input,
:root .via-slds .slds-form-element__label,
:root .via-slds .slds-select:active,
:root .via-slds .slds-select:focus,
:root .via-slds .vlc-slds-wizard,
:root .via-slds,
:root .via-slds label,
:root .via-slds label span,
:root select {
  border-color: rgba(229, 222, 217, 1) !important;
}
:root div {
  border-color: rgba(229, 222, 217, 1) !important;
}
.via-slds
  .vlc-slds-multiSelect-control
  ul[horizontalmode]
  span.slds-form-element__label {
  font-weight: normal;
}
.via-slds .list-group.vertical-steps .list-group-item {
  text-transform: none;
  font-weight: 300;
}
.via-slds .list-group.vertical-steps .list-group-item:before {
  background-color: white;
  transform: translateX(-55%);
  border: 2px solid #ea650d;
}
:root .via-slds .list-group.vertical-steps .list-group-item.active:before {
  background-color: #ea650d !important;
}
:root .via-slds .list-group.vertical-steps .list-group-item.completed:before {
  background: #ea650d !important;
}
.via-slds .vlc-slds-selItem label.vlc-slds-selItem__label {
  font-weight: normal;
}
.via-slds label[vlc-slds-toggle] .slds-form-element__label--toggleText {
  font-weight: normal;
}
.via-slds
  .vlc-slds-block
  label[vlc-slds-toggle="toggle"]
  ~ div[vlc-slds-toggle-elem="visible"] {
  font-weight: normal;
}
.via-slds ul.vlc-slds-knowledge-item .vlc-slds-knowledge-list-item > h3 {
  font-weight: normal;
}
.via-slds .slds-form-element__label {
  font-weight: normal;
}
.via-slds .slds-form-element__control > div.vlc-control-wrapper {
  position: relative;
  background-color: white !important;
}
.via-slds .slds-form-element__control > div.vlc-control-wrapper > input,
.via-slds .slds-form-element__control > div.vlc-control-wrapper > textarea {
  background: white;
}
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  > input[disabled],
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  > textarea[disabled] {
  background: rgba(229, 222, 217, 1);
}
.via-slds .slds-form-element__control > div.vlc-control-wrapper > label {
  left: 11px;
  font-size: 14px;
  text-transform: none;
  overflow-y: hidden;
}
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  textarea.ng-dirty
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  textarea:focus
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  textarea[cloned="dirty"]
  + label {
  -webkit-transform: translate3d(0, -1.2rem, 0) scale3d(0.7, 0.7, 1);
  transform: translate3d(0, -1.2rem, 0) scale3d(0.7, 0.7, 1);
}
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-dirty
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-dirty
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.ng-touched.td-input
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.slds-input.ng-dirty.ng-touched[vlc-slds-lookup-control]
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input.slds-input[cloned="dirty"]
  ~ label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input:focus
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input[cloned="dirty"]
  + label,
.via-slds
  .slds-form-element__control
  > div.vlc-control-wrapper
  input[type="text"]:focus
  ~ label {
  -webkit-transform: translate3d(0, -1.2rem, 0) scale3d(0.7, 0.7, 1);
  transform: translate3d(0, -1.2rem, 0) scale3d(0.7, 0.7, 1);
}
.via-slds .slds-form-element__control p[vlc-bind-html] {
  color: rgba(65, 65, 65, 1);
  word-break: normal;
}
.via-slds .vlc-slds-text-block p[ng-bind-html] {
  font-weight: normal;
}
.via-slds {
  font-weight: normal;
}
.via-slds span.vlc-asterix.icon-v-asterix:before {
  color: rgba(230, 68, 21, 1);
}
.via-slds .vlc-disclosure.ng-valid span.vlc-asterix.icon-v-asterix:before,
.via-slds
  .vlc-slds-checkbox.ng-valid.ng-dirty
  span.vlc-asterix.icon-v-asterix:before,
.via-slds
  .vlc-slds-multiSelect-control.ng-valid
  span.vlc-asterix.icon-v-asterix:before,
.via-slds
  input.slds-input.ng-valid
  ~ label
  > span.vlc-asterix.icon-v-asterix:before,
.via-slds select.ng-valid + label > span.vlc-asterix.icon-v-asterix:before,
.via-slds textarea.ng-valid + label > span.vlc-asterix.icon-v-asterix:before {
  color: #5b9853;
}
.via-slds .vlc-slds-currency-symbol {
  top: 60%;
  color: rgba(65, 65, 65, 1);
}

.via-slds section.slds-page-header.vlc-slds-page--header:after {
  display: none;
}
.via-slds .vlc-slds-wizard:before {
  display: none;
}
.via-slds .slds-popover--tooltip .slds-popover__body {
  color: #414141 !important;
  font-size: 0.65rem;
}
.via-slds .vlc-control-wrapper[help="true"] > a {
  background-color: #ea650d !important;
}
.via-slds .slds-textarea {
  min-height: 9rem !important;
}
.via-slds .slds-popover--tooltip {
  max-width: 37rem !important;
  background-color: #ffffff !important;
  border-color: #f1edeb !important;
}
#SignatureOptions0 label.slds-radio,
#SignatureOptions20 label.slds-radio {
  width: 100%;
  height: 100px;
}
#SignatureOptions0 .imgItemContainer,
#SignatureOptions20 .imgItemContainer {
  height: 100px;
  background-color: #ea650d;
}
#SignatureOptions0 .imgItemContainer .imgItem,
#SignatureOptions20 .imgItemContainer .imgItem {
  color: white !important;
}
#SignatureOptions0 .via-slds .borderOverlay,
#SignatureOptions20 .via-slds .borderOverlay {
  border: 0;
}
.slds-select_container span.vlc-slds-form-element__center--horizontal {
  color: #414141 !important;
}
.via-slds
  .vlc-slds-multiSelect-control.ng-dirty.ng-valid.ng-valid-required
  span.vlc-asterix:before,
.via-slds
  .vlc-slds-radio-control.ng-dirty.ng-valid.ng-valid-required
  span.vlc-asterix:before,
.via-slds
  .vlc-slds-radio-control.ng-valid.ng-valid-required
  span.vlc-asterix:before,
.via-slds
  .vlc-slds-range-control.ng-dirty.ng-valid.ng-valid-required
  span.vlc-asterix:before {
  color: #5b9853;
}
@media only screen and (max-width: 48em) {
  .via-slds .slds-page-header__title {
    font-size: 22px;
  }
  .recalculatBtn {
    margin-top: 10px !important;
  }
}
.childrenSelectionHeader {
  font-size: 24px !important;
  color: #ea650d;
}
.individualChildRiderRow {
  margin-bottom: 15px;
}
.childrenLoadingInput {
  padding-right: 33px !important;
}
@media only screen and (max-width: 30em) {
  .via-slds .slds-page-header__title {
    font-size: 14px !important;
  }
  .div2 h2 {
    font-size: 18px;
  }
  .hide-on-extra-small {
    display: none;
  }
}
.summaryValue.input-icon-right input {
  padding-right: 33px !important;
}
.riderGroup > div {
  padding: 8px 0;
  border-top: 1px solid;
}
.groupName {
  color: #ea650d !important;
  cursor: pointer;
}
.endOfCalculationButtonContainer {
  display: flex;
  flex-direction: column;
}

.endOfCalculationButtonContainer a {
  display: flex;
  justify-content: center;
  text-align: center;
}

.endOfCalculationButtonContainer a {
  display: flex;
  justify-content: center;
  text-align: center;
}

.endOfCalculationButtonContainer img {
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 64em) {
  .endOfCalculationButtonContainer {
    flex-direction: row;
    align-items: center;
  }
  .endOfCalculationButtonContainer a {
    text-align: left;
  }
  .endOfCalculationButtonContainer img {
    height: 30px;
    min-width: 40px;
    padding-right: 10px;
  }
}
.children-container {
  border-top: 2px solid white !important;
  margin-top: 60px;
}
.child-input {
  margin: 10px 0;
}
@media only screen and (min-width: 30em) {
  .child-input {
    padding: 0 10px;
  }
}
.child-input > svg {
  right: 21px !important;
}
#IllustrationGraphElement {
  overflow: scroll;
}
#IllustrationGraphElement > div > p {
  overflow: scroll;
}

#ChildCounter,
#InsuredChildId,
#ChildPartyId {
  opacity: 1 !important;
  text-indent: 100% !important;
  background-color: #f1edeb !important;
}

#OccupationTypeAheadFI-Block,
#AddSportInfo,
#OccupationTypeAheadPH-Block,
#OccupationTypeAhead2I-Block {
  padding-left: 0;
  padding-right: 0;
}

#SportTypeAhead-Block,
#SportTypeAhead2I-Block {
  padding-left: 0;
}
@media only screen and (max-width: 64em) {
  #SportTypeAhead-Block,
  #SportTypeAhead2I-Block {
    padding-right: 0;
  }
}
#AddSport,
#AddSport2 {
  margin-right: 0;
}
#AddSport > p,
#AddSport2 > p {
  margin-left: 0;
}
@media only screen and (max-width: 64em) {
  #AddSport,
  #AddSport2 {
    margin-left: 0;
  }
  #AddSport > p,
  #AddSport2 > p {
    margin-left: 0;
  }
}
#Sport,
#Sport2 {
  margin-left: 0;
  width: 100%;
}
label[for="Sport"] {
  margin-left: 0;
}
input#SportSelected,
input#SportSelected2 {
  display: none;
}
#BlockSport .vlc-control-wrapper {
  min-height: auto;
}
#GrossMonthlyIncome {
  margin-left: 0;
  width: 100%;
}
label[for="GrossMonthlyIncome"] {
  margin-left: 0;
}
@media only screen and (max-width: 64em) {
  #NetMonthlyIncome {
    margin-left: 0;
    width: 100%;
  }
  label[for="NetMonthlyIncome"] {
    margin-left: 0;
  }
}
svg.slds-icon.slds-icon--small.slds-button__icon.slds-button__icon--large {
  pointer-events: none;
}
span.slds-icon_container.slds-icon-utility-down.slds-input__icon.slds-input__icon_right {
  pointer-events: none;
}
:root .vlc-control-wrapper {
  background-color: transparent !important;
}
@media only screen and (max-width: 64em) {
  #RecalculateIncome {
    margin-left: 0;
  }
  #RecalculateIncome > p {
    margin-left: 0;
  }
}

#ProductInfoBlock ng-form {
  padding-right: 0;
}

.via-slds
  .vlc-slds-block
  label[vlc-slds-toggle="toggle"]
  ~ div[vlc-slds-toggle-elem="visible"] {
  padding-left: 0;
}

.slds-has-input-has-icon--right input {
  padding-right: 50px !important;
  white-space: normal !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 62.5em) {
  ng-form {
    padding-right: 0;
  }
}

.groupName {
  font-size: 16px;
}

.left ng-form {
  flex-direction: row;
}

#SummaryBlock .slds-form-element__control p > p {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  #FundsList td {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  #FundsList td {
    font-size: 12px;
  }
}

/************************************
  ------ VLOCITY TEMPLATES -------
*************************************/

/* bt-messages */

div.messages-card {
  display: flex;
  background: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  flex-direction: column;
  border: 1px solid;
}

div.messages-card.infos {
  border-color: #96b439 !important;
}

div.messages-card.questionnaires {
  border-color: #7eabd4 !important;
}

div.messages-card.warnings {
  border-color: #ea650d !important;
}

div.messages-card.errors {
  border-color: #d0021b !important;
}

.messages-summary {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

ul.messages-list {
  list-style: disc;
  margin-left: 20px;
  padding: 0;
}

img.messages-icon {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

div.messages-card {
  display: flex;
  background: #ffffff;
  border: 1px solid #7eabd4 !important;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 10px;
  flex-direction: column;
}

.messages-card a.close {
  color: #999999;
  font-size: 25px;
  top: -10px;
  line-height: 18px;
}

.messages-card a.close:hover {
  text-decoration: none;
}

.messages-card a.open {
  color: #444444;
}

.messages-card a.open:hover {
  text-decoration: none;
}

.messages-card a.open span {
  color: #ea650d;
  font-size: 30px;
  line-height: 8px;
  position: relative;
  top: 5px;
  margin-right: 4px;
}

.messages-left-part {
  display: flex;
  margin-right: 10px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 25px);
}

.messages-container > div {
  margin-top: 4px;
}

@media only screen and (max-width: 425px) {
  img.messages-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}

.messages-expand-close a.open {
  min-width: 70px;
  display: flex;
  justify-content: flex-end;
}

/* end of bt-messages */

/* bt-illustration-funds */

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-right: 25px;
  padding-right: 0;
}

.input-icon-right > i {
  right: 10px;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 35px;
  text-align: right;
}

.fundsRecalculatBtn {
  float: right;
  color: white !important;
  margin: 20px !important;
  height: 35px;
  width: 180px;
  background-color: #ee7f00;
}

/* end of bt-illustration-funds */

/* bt-rider-list-sk-first */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.valuePadding {
  border: 1px inset #ccc;
}
.valuePadding input {
  border: none;
  padding: 0px;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.groupName {
  color: #ee7f00;
  font-weight: bold;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-right: 25px;
  padding-right: 0;
}

.input-icon-right > i {
  right: 10px;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 35px;
  text-align: right;
}

td {
  white-space: normal;
  word-wrap: break-word;
}

.whitespace {
  white-space: normal;
}

.nn-chevron-trans {
  transform: rotate(180deg);
  transition: all 0.2s linear;
}
.nn-chevron-icon {
  width: 1.5rem;
  height: 1.5rem;
  float: left;
  transition: all 0.2s linear;
  cursor: pointer;
}

.slds-input.ng-pristine.ng-valid .ng-not-empty.ng-valid-pattern.ng-touched {
  text-align: left !important;
}
.fontCapitalized {
  font-size: 14px;
  text-transform: capitalize;
}

@media only screen and (max-width: 700px) {
  .showOverflow {
    overflow: scroll;
  }
}

.rider-name-with-hint > a {
  content: "i";
  line-height: 1.5rem;
  font-size: 0.9rem;
  right: 11px;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: none;
  text-align: center;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ea650d;
  color: #fff;
  text-decoration: none;
}

.rider-name-with-hint > a:hover {
  color: white;
}

.tooltip-dropdown {
  position: absolute;
  z-index: 999;
  max-width: 300px;
  background-color: white;
  font-size: 12px;
  padding: 2px 8px;
  margin-top: 8px;
  border-radius: 4px;
}

.tooltip-dropdown-content {
  z-index: 1;
}

:root .tooltip-dropdown {
  border: 1px solid;
}

.tooltip-dropdown .arrow {
  border-left: 1px solid rgb(229, 222, 217);
  border-top: 1px solid rgb(229, 222, 217);
  width: 16px;
  height: 16px;
  display: block;
  background: white;
  transform: translateY(-66%) translateX(50%) rotate(45deg);
  display: none;
}

.rider-name-with-hint a + .tooltip-dropdown {
  display: none;
}

.rider-name-with-hint a:hover + .tooltip-dropdown {
  display: flex;
}

.rider-selection-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rider-selection-flex-left {
  display: flex;
}

.rider-selection-flex .recalculatBtn {
  min-width: 215px;
}

.rider-selection-flex a.tooltip {
  margin-right: 8px;
}

@media (max-width: 425px) {
  .rider-selection-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

/* end of bt-rider-list-sk-first */

@media (min-width: 64em) {
  .slds-large-size--6-of-12:nth-child(odd) {
    padding-right: 10px;
  }

  #SportTypeAhead-Block ng-form {
    padding-right: 10px;
  }

  #SportTypeAhead2I-Block ng-form {
    padding-right: 10px;
  }

  #IncomeBlock .slds-large-size--5-of-12 {
    padding-right: 10px;
  }

  #AddSport {
    padding: 23px;
    margin-top: 1px;
  }

  #AddSport2 {
    padding: 23px;
    margin-top: 1px;
  }

  #RecalculateIncome {
    padding: 23px;
    margin-top: 1px;
  }
}

.recalculate-illustration-container {
  display: flex;
  justify-content: flex-end;
}

.premium-info-container {
  display: flex;
  justify-content: flex-end;
}

.premium-info-container {
  display: flex;
}

.premium-info-container .left {
  display: flex;
}

.premium-info-container .right {
  display: flex;
  justify-content: flex-end;
}

.slds-button_neutral {
  background-color: #ffffff;
  color: #ea650d !important;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 10px;
}

h2.premium-info {
  color: #ea650d;
}

.premium-info span {
  margin-left: 10px;
}

ul.slds-tabs_default__nav {
  display: flex;
  border-bottom: 2px solid #f1edeb;
}

li.slds-tabs_default__item {
  margin: 0 15px;
}

.slds-tabs_default.ng-scope {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
}

li.slds-tabs_default__item.active {
  border-bottom: 2px solid;
  position: relative;
  top: 2px;
}

li.slds-tabs_default__item.active a {
  color: #ea650d;
}

li.slds-tabs_default__item a {
  color: #414141;
}

li.slds-tabs_default__item a:hover,
li.slds-tabs_default__item a:focus,
li.slds-tabs_default__item a:active {
  text-decoration: none;
}
