<div class="slds-grid slds-wrap slds-size--1-of-1" ng-controller="ShoppingCartController as cart">
  <div id="premium-info-container" class="premium-info-container slds-size--1-of-1">
    <div class="premium-info-left">
      <h2 class="premium-info">Celkové poistné:</h2>
      <div class="premium" ng-if="!cart.showCalculateBtn">
        <span class="sum"> {{control.vlcSI[control.itemsKey][0].TotalPremiumAfterDiscounts | currency}} €</span>
        <span class="frequency"></span>
      </div>

      <button ng-if="cart.showCalculateBtn" ng-click="buttonClick(bpTree.response, control, this, control.vlcSI[control.itemsKey][0],control.propSetMap.sendJSONPath, recalculated(control.vlcSI[control.itemsKey][0]))"
        class="open-button slds-button_neutral slds-float_right" type="button">Prepočítať</button>
    </div>
    <div class="premium-info-right">
      <button ng-if="!cart.isOpen" ng-click="cart.toggleOpen()" class="open-button slds-button_neutral slds-float_right 
      " type="button">Otvoriť košík</button>
      <button ng-if="cart.isOpen" ng-click="cart.toggleOpen()" class="close-button slds-button_neutral slds-float_right
      " type="button">Zatvoriť</button>
    </div>
  </div>
  <div ng-if="cart.isOpen" class="slds-tabs_default">
    <ul class="slds-tabs_default__nav" role="tablist">
      <li ng-class="{'slds-is-active': cart.activeTab === 1}" class="slds-tabs_default__item" title="Informácie" role="presentation">
        <a ng-click="cart.openTab(1)" class="slds-tabs_default__link" href role="tab" tabindex="0" aria-selected="true" aria-controls="tab-cart-1"
          id="tab-cart-1__item">Informácie</a>
      </li>
      <li ng-class="{'slds-is-active': cart.activeTab === 2}" class="slds-tabs_default__item" title="Prvý poistený" role="presentation">
        <a ng-click="cart.openTab(2)" class="slds-tabs_default__link" href role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-cart-2"
          id="tab-cart-2__item">Prvý poistený</a>
      </li>
      <li ng-if="control.vlcSI[control.itemsKey][0].SecondInsuredRiders.length != null" ng-class="{'slds-is-active': cart.activeTab === 3}"
        class="slds-tabs_default__item" title="Druhý poistený" role="presentation">
        <a ng-click="cart.openTab(3)" class="slds-tabs_default__link" href role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-cart-3"
          id="tab-cart-3__item">Druhý poistený</a>
      </li>
      <li ng-if="control.vlcSI[control.itemsKey][0].ChildrenRiders.Children != null" ng-class="{'slds-is-active': cart.activeTab === 4}"
        class="slds-tabs_default__item" title="Deti" role="presentation">
        <a ng-click="cart.openTab(4)" class="slds-tabs_default__link" href role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-cart-4"
          id="tab-cart-4__item">Deti</a>
      </li>
    </ul>
    <div ng-if="cart.activeTab === 1" id="tab-cart-1" class="slds-tabs_default__content premium-overview slds-size--1-of-1" role="tabpanel"
      aria-labelledby="tab-cart-1__item">
      <!-- PRODUCT TYPE -->
      <div class="slds-form-element__control slds-input-has-icon slds-has-input-has-icon--right">
        <div class="slds-select_container vlc-control-wrapper vlc-slds__border vlc-slds__border--primary slds-input-has-icon slds-has-input-has-icon--right"
          help="false">

          <select id="cart_variant" ng-model="control.vlcSI[control.itemsKey][0].SelectedVariant" ng-change="cart.showCalculateBtn = true"
            ng-options="item as item.Label for item in control.vlcSI[control.itemsKey][0].RateVariant track by item.Code" style="border-style: none; height:45px;"
            class="slds-select ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" ng-value="control.vlcSI[control.itemsKey][0].RateVariant[0].Default">
            <option value="" selected hidden />
          </select>
          <label for="cart_variant" class="slds-form-element__label ng-binding">Variant</label>
          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
            <svg aria-hidden="true" class="slds-icon slds-icon--small slds-button__icon slds-button__icon--large" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMixYMid meet" sprite="'utility'" icon="'down'" size="'small'" extra-classes="'slds-button__icon slds-button__icon--large'"
              viewBox="0 0 52 52">
              <path fill="inherit" xmlns="http://www.w3.org/2000/svg" d="m8.3 14h35.4c1 0 1.7 1.3 0.9 2.2l-17.3 21.2c-0.6 0.8-1.9 0.8-2.5 0l-17.5-21.2c-0.7-0.9-0.1-2.2 1-2.2z"></path>
            </svg>
          </span>
        </div>
      </div>
      <!-- PAYMENT FREQUENCY -->
      <div class="slds-form-element__control slds-input-has-icon slds-has-input-has-icon--right">
        <div class="slds-select_container vlc-control-wrapper vlc-slds__border vlc-slds__border--primary slds-input-has-icon slds-has-input-has-icon--right"
          help="false">

          <select id="cart_frequency" ng-model="control.vlcSI[control.itemsKey][0].SelectedFrequency" ng-change="cart.showCalculateBtn = true"
            ng-options="item as item.Label for item in control.vlcSI[control.itemsKey][0].PaymentFrequency track by item.Code"
            style="border-style: none; height:45px;" class="slds-select ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
            ng-value="control.vlcSI[control.itemsKey][0].PaymentFrequency[0].Default">
            <option value="" selected hidden />
          </select>
          <label for="cart_frequency" class="slds-form-element__label ng-binding">Frekvencia</label>
          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
            <svg aria-hidden="true" class="slds-icon slds-icon--small slds-button__icon slds-button__icon--large" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMixYMid meet" sprite="'utility'" icon="'down'" size="'small'" extra-classes="'slds-button__icon slds-button__icon--large'"
              viewBox="0 0 52 52">
              <path fill="inherit" xmlns="http://www.w3.org/2000/svg" d="m8.3 14h35.4c1 0 1.7 1.3 0.9 2.2l-17.3 21.2c-0.6 0.8-1.9 0.8-2.5 0l-17.5-21.2c-0.7-0.9-0.1-2.2 1-2.2z"></path>
            </svg>
          </span>
        </div>
      </div>
      <!--REQUESTED PREMIUM -->
      <div class="slds-form-element__control" ng-if="control.vlcSI[control.itemsKey][0].ProductType == 'invest'">
        <div class="vlc-control-wrapper summaryValue input-icon input-icon-right">
          <i class="">€</i>
          <input ng-model="control.vlcSI[control.itemsKey][0].RequiredPremiumFor" type="text" currency format="currency" min="0" class="slds-input ng-dirty"
            placeholder="Poistná suma" value="control.vlcSI[control.itemsKey][0].RequiredPremiumFor">
          <label for="Poistná suma" class="slds-form-element__label ng-binding">Požadované poistné
          </label>
        </div>
      </div>

      <!--REQUESTED PREMIUM TYPE -->
      <div ng-if="control.vlcSI[control.itemsKey][0].ProductType == 'invest'" class="slds-form-element__control slds-input-has-icon slds-has-input-has-icon--right">
        <div class="slds-select_container vlc-control-wrapper vlc-slds__border vlc-slds__border--primary slds-input-has-icon slds-has-input-has-icon--right"
          help="false">

          <select id="cart_premium_type" ng-model="control.vlcSI[control.itemsKey][0].RequestedPremiumType" ng-change="cart.showCalculateBtn = true"
            ng-options="item as item.Label for item in control.vlcSI[control.itemsKey][0].RequestedPremiumType track by item.Code"
            style="border-style: none; height:45px;" class="slds-select ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
            ng-value="control.vlcSI[control.itemsKey][0].RequestedPremiumType[0].Default">
            <option value="" selected hidden />
          </select>
          <label for="cart_premium_type" class="slds-form-element__label ng-binding">Požadované nastavené poistné
          </label>
          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
            <svg aria-hidden="true" class="slds-icon slds-icon--small slds-button__icon slds-button__icon--large" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMixYMid meet" sprite="'utility'" icon="'down'" size="'small'" extra-classes="'slds-button__icon slds-button__icon--large'"
              viewBox="0 0 52 52">
              <path fill="inherit" xmlns="http://www.w3.org/2000/svg" d="m8.3 14h35.4c1 0 1.7 1.3 0.9 2.2l-17.3 21.2c-0.6 0.8-1.9 0.8-2.5 0l-17.5-21.2c-0.7-0.9-0.1-2.2 1-2.2z"></path>
            </svg>
          </span>
        </div>
      </div>
      <!--EMPLOYER CONTRIBUTION -->
      <div class="slds-form-element__control">
        <div class="summaryValue vlc-control-wrapper input-icon input-icon-right">
          <i class="">€</i>
          <input ng-model="control.vlcSI[control.itemsKey][0].EmployerPayment" type="text" currency format="currency" min="0" class="slds-input ng-dirty"
            placeholder="Príspevok zamestnávateľa" value="control.vlcSI[control.itemsKey][0].EmployerPayment">
          <label for="Príspevok zamestnávateľa" class="slds-form-element__label ng-binding">Príspevok zamestnávateľa
          </label>
        </div>
      </div>

      <!-- GROUP DISCOUNT -->
      <div class="slds-form-element__control">
        <div class="summaryValue vlc-control-wrapper input-icon input-icon-right">
          <i class="">%</i>
          <input ng-model="control.vlcSI[control.itemsKey][0].GroupDiscountPercent" min="0" to-number class="slds-input ng-dirty" type="number"
            placeholder="Loading" value="control.vlcSI[control.itemsKey][0].GroupDiscountPercent">
          <label for="Skupinová zľava" class="slds-form-element__label ng-binding">Skupinová zľava
          </label>
        </div>
      </div>

      <!-- ALLOCATION FEE DISCOUNT -->
      <div class="slds-form-element__control slds-size--1-of-1" ng-if="control.vlcSI[control.itemsKey][0].ProductType == 'invest'">
        <div class="vlc-control-wrapper summaryValue input-icon input-icon-right">
          <i class="">%</i>
          <input ng-model="control.vlcSI[control.itemsKey][0].AllocationPercentDiscount" min="0" to-number class="slds-input ng-dirty"
            type="number" placeholder="Loading" value="control.vlcSI[control.itemsKey][0].AllocationPercentDiscount">
          <label for="AllocationPercentDiscount" class="slds-form-element__label ng-binding">AllocationPercentDiscount
          </label>
        </div>
      </div>

      <!-- ANTIINFLATION PROGRAM -->
      <div ng-if="control.vlcSI[control.itemsKey][0].ProductType == 'invest'" class="slds-form-element__control vlc-slds-checkbox slds-size--1-of-1">

        <label class="slds-checkbox">

          <input id="checkboxAntiInflationProgram" type="checkbox" ng-model="control.vlcSI[control.itemsKey][0].AntiInflationProgram"
            class="ng-valid ng-touched ng-dirty ng-empty">

          <span class="slds-checkbox--faux"></span>

          <!-- bubble canceller prevents bubbling of the click events to the checkbox -->
          <label class="slds-form-element__label vlc-slds-inline-control__label" vlc-bubble-canceller="test">

            <!-- tooltip template -->


            <div class="vlc-slds-control-action__container">

              <!-- ngIf: ::control.propSetMap.repeat -->

              <!-- ngIf: child.eleArray.length > 1 -->

            </div>
            <!-- OMNI-1963 -->
            <span for="checkboxAntiInflationProgram" class="slds-form-element__label ng-binding">
              Protiinflačný program
            </span>

            <!-- ngIf: control.req -->

          </label>

        </label>

      </div>

      <div class="premium-summary">
        <div class="row">
          <div>
            Hlavné krytie:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].MainCoverage | currency}} €
          </div>
        </div>
        <div class="row">
          <div>
            Pripoistenie:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].FirstInsuredRiderPremiumBeforeAllDiscounts | currency}} €
          </div>
        </div>
        <div class="row">
          <div>
            2. poistený:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].SecondInsured | currency}} €
          </div>
        </div>
        <div class="row">
          <div>
            Zľava za frekvenciu:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].FrequencyDiscount | currency}} €
          </div>
        </div>
        <div class="row">
          <div>
            Zľava za riziko:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].RiskPremiumDiscount | currency}} €
          </div>
        </div>
        <div class="row">
          <div>
            Skupinová zľava:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].GroupDiscountSum | currency}} €
          </div>
        </div>
        <div class="row" ng-if="control.vlcSI[control.itemsKey][0].ProductType == 'invest'">
          <div>
            Zľava z alokačného poplatku:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].AllocationPercentDiscount}} %
          </div>
        </div>
        <div class="row subtotal">
          <div>
            Celkové poistné:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].TotalPremiumAfterDiscounts | currency}} €
          </div>
        </div>
        <div class="row">
          <div>
            Príspevok zamestnávateľa:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].EmployerPayment | currency}} €
          </div>
        </div>
        <div class="row subtotal">
          <div>
            Poistné platené klientom:
          </div>
          <div>
            {{control.vlcSI[control.itemsKey][0].CalculatedClientPremium | currency}} €
          </div>
        </div>
      </div>
    </div>
    <div ng-if="cart.activeTab === 2" id="tab-cart-2" class="slds-tabs_default__content slds-size--1-of-1" role="tabpanel" aria-labelledby="tab-cart-2__item">
      <div ng-repeat="group in control.vlcSI[control.itemsKey][0].FirstInsuredRiders">
        <div ng-repeat="p in group.Components" class="summaryComponent slds-size--1-of-1">
          <h2 ng-if="p.Selected">{{p.ComponentCalculationName}}</h2>
          <div class="slds-grid slds-grid_pull-padded slds-wrap slds-size--1-of-1" ng-if="p.Selected">
            <div class="slds-size--1-of-2 slds-small-size--1-of-4 slds-medium-size--2-of-12 slds-p-horizontal--x-small slds-medium-p-right--medium">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistná suma</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--right sum-assured">{{p.SumAssured | currency }} €</p>
              </div>
            </div>
            <div class="slds-size--1-of-2 slds-small-size--1-of-4 slds-medium-size--1-of-12 slds-p-horizontal--x-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistná doba</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center ">{{p.Term}}</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-small-size--1-of-4 slds-medium-size--2-of-12 slds-p-horizontal--x-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Zdravotné navýšenie</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center medical-loading">{{p.MedicalLoading}} %</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-small-size--1-of-4 slds-medium-size--1-of-12 slds-p-horizontal--x-small slds-medium-p-horizontal--xx-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Riziková skupina</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center">{{p.RiskGroup}}</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-small-size--1-of-3  slds-medium-size--2-of-12 slds-p-horizontal--x-small slds-medium-p-horizontal--small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Celkové navýšenie</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center medical-loading">{{p.CalculationLoading | number : 0 }} %</p>
              </div>
            </div>
            <div class="slds-size--1-of-2 slds-small-size--1-of-3 slds-medium-size--2-of-12 slds-p-horizontal--x-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Pred zľavami</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--right  previous-price">{{p.PremiumBeforeAllDiscount | currency}} €</p>
              </div>
            </div>
            <div class="slds-size--1-of-2 slds-small-size--1-of-3 slds-medium-size--2-of-12 slds-p-horizontal--small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistné po zľavách</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--right  final-price">{{p.PremiumAfterAllDiscount | currency}} €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="cart.activeTab === 3 && control.vlcSI[control.itemsKey][0].SecondInsuredRiders.length != 0" id="tab-cart-3" class="slds-tabs_default__content slds-size--1-of-1"
      role="tabpanel" aria-labelledby="tab-cart-3__item">
      <div ng-repeat="group in control.vlcSI[control.itemsKey][0].SecondInsuredRiders">
        <div ng-repeat="p in group.Components" class="summaryComponent slds-size--1-of-1">
          <h2 ng-if="p.Selected">{{p.ComponentCalculationName}}</h2>
          <div class="slds-grid slds-grid_pull-padded slds-wrap slds-size--1-of-1" ng-if="p.Selected">
            <div class="slds-size--1-of-2 slds-small-size--1-of-4 slds-medium-size--2-of-12 slds-p-horizontal--x-small slds-medium-p-right--medium">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistná suma</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--right sum-assured">{{p.SumAssured | currency }} €</p>
              </div>
            </div>
            <div class="slds-size--1-of-2 slds-small-size--1-of-4 slds-medium-size--1-of-12 slds-p-horizontal--x-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistná doba</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center ">{{p.Term}}</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-small-size--1-of-4 slds-medium-size--2-of-12 slds-p-horizontal--x-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Zdravotné navýšenie</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center medical-loading">{{p.MedicalLoading}} %</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-small-size--1-of-4 slds-medium-size--1-of-12 slds-p-horizontal--x-small slds-medium-p-horizontal--xx-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Riziková skupina</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center">{{p.RiskGroup}}</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-small-size--1-of-3  slds-medium-size--2-of-12 slds-p-horizontal--x-small slds-medium-p-horizontal--small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Celkové navýšenie</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center medical-loading">{{p.CalculationLoading | number : 0 }} %</p>
              </div>
            </div>
            <div class="slds-size--1-of-2 slds-small-size--1-of-3 slds-medium-size--2-of-12 slds-p-horizontal--x-small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Pred zľavami</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--right  previous-price">{{p.PremiumBeforeAllDiscount | currency}} €</p>
              </div>
            </div>
            <div class="slds-size--1-of-2 slds-small-size--1-of-3 slds-medium-size--2-of-12 slds-p-horizontal--small">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistné po zľavách</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--right  final-price">{{p.PremiumAfterAllDiscount | currency}} €</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div ng-if="cart.activeTab === 4" id="tab-cart-4" class="slds-tabs_default__content slds-size--1-of-1" role="tabpanel" aria-labelledby="tab-cart-3__item">
      <div ng-repeat='child in control.vlcSI[control.itemsKey][0].ChildrenRiders.Children' class="summaryComponent slds-si--1-of-1">
        <div ng-repeat='p in child.Component'>
          <!--<div ng-repeat="p in components" class="summaryComponent slds-si--1-of-1"> -->
          <h2 ng-if="p.Selected" style="font-size: 16px;font-weight: 700;-webkit-margin-before: 0.83em;">{{p.ComponentCalculationName.value}}</h2>
          <h3 ng-if="p.Selected" style="font-size: 15px;font-weight: 600;-webkit-margin-before: 0.83em;">{{child.Name}}</h3>
          <div class="slds-grid slds-grid_pull-padded slds-wrap slds-size--1-of-1" ng-if="p.Selected">
            <div class="slds-size--1-of-3 slds-medium-size--2-of-12 slds-p-right--x-small slds-medium-p-right--medium">
              <!-- <div style="font-weight:bold; margin-bottom:5px">{{p.ComponentCalculationName.value}}</div> ORIG -->
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistná suma</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center alignCenter bold">{{p.SumAssured.value | currency}} €</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-medium-size--2-of-12 slds-p-right--x-small slds-medium-p-right--medium">
              <!-- <div style="font-weight:bold; margin-bottom:5px">{{p.ComponentCalculationName.value}}</div> ORIG -->
              <div class="summaryLabel">
                <p class="slds-text-align--center">Zdravotný loading</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center ">{{p.MUWLoadingPercent.value}} %</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-medium-size--2-of-12 slds-p-right--x-small slds-medium-p-right--medium">
              <!-- <div style="font-weight:bold; margin-bottom:5px">{{p.ComponentCalculationName.value}}</div> ORIG -->
              <div class="summaryLabel">
                <p class="slds-text-align--center">Totálny loading</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center">{{p.CalculatedLoadingPercent.value}} %</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-medium-size--3-of-12 slds-p-right--x-small slds-medium-p-right--medium">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistné pred zľavami</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center previous-price">{{p.PremiumBeforeAllDiscount.value | currency}} €</p>
              </div>
            </div>
            <div class="slds-size--1-of-3 slds-medium-size--3-of-12 slds-p-right--x-small slds-medium-p-right--medium">
              <div class="summaryLabel">
                <p class="slds-text-align--center">Poistné po zľavách</p>
              </div>
              <div class="summaryValue">
                <p class="slds-text-align--center final-price">{{p.PremiumAfterAllDiscount.value | currency}} €</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>